<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Layout</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <header>
        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title">RCAR <span>SERWIS</span></div>
                    @*<div class="sidebar-btn">
                            <i class="fas fa-bars"></i>
                        </div>*@

                    <!--sidebar administration menu-->
                    <div class="action">
                        <ul>
                            <li>
                                <a href="#" onclick="menuToggle();"><i class="fas fa-power-off"></i></a>
                            </li>
                        </ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="menu">
                                <h3><strong>@User.Identity.Name</strong></h3>
                                <div class="sub-menu">
                                    <a href="/User/Index"><i class="fas fa-sliders-h"></i>Ustawienia</a>
                                    <a href="/Account/LogOut"><i class="fa fa-power-off"></i>Wyloguj się</a>
                                </div>
                            </div>
                        }

                    </div>


                    <!--sidebar administration menu end-->

                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <ul>
                        <li class="item">
                            <a href="#" class="menu-btn">
                                <i class="fas fa-desktop"></i><span>Aktualności</span>
                            </a>
                        </li>
                        <li class="item" id="service">
                            <a href="#service" class="menu-btn">
                                <i class="fas fa-wrench"></i><span>Seriwsy <i class="fas fa-chevron-down drop-down"></i></span>
                            </a>
                            <div class="sub-menu">
                                <a asp-controller="Service" asp-action="Index"><i class="far fa-folder-open"></i><span>Aktualne</span></a>
                                <a asp-controller="Service" asp-action="Removed"><i class="fas fa-book"></i><span>Historia</span></a>
                            </div>
                        </li>
                        <li class="item" id="member">
                            <a href="#member" class="menu-btn">
                                <i class="fas fa-users"></i><span>Członkowie <i class="fas fa-chevron-down drop-down"></i></span>
                            </a>
                            <div class="sub-menu">
                                <a asp-controller="Member" asp-action="Index"><i class="far fa-folder-open"></i><span>Aktualni</span></a>
                                <a asp-controller="Member" asp-action="Removed"><i class="fas fa-book"></i><span>Historia</span></a>
                            </div>
                        </li>
                        <li class="item">
                            <a asp-controller="Report" asp-action="Index" class="menu-btn">
                                <i class="fas fa-book"></i><span>Raporty</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--sidebar end-->
            <!--main container-->
            <!--main container end-->
        </div>
        <!--wrapper end-->
    </header>



    <div class="main-panel">
        <partial name="_CookieConsentPartial" />
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="footer">
            <p> &copy; @DateTime.UtcNow.Year - RCAR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka</a></p>
        </footer>
    </div>
    <script src="~/js/layout/layout-navsidebar.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>