<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RCAR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>

    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" style="color:aliceblue">@*<img scr="" alt="logo" />*@RCAR</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end" style="color:aliceblue">
                <form class="form-inline">
                    <a class="form-control mr-sm-2" href="/Account/Register">Zarejestruj sie</a>
                    <a class="form-control mr-sm-2" href="/Account/LogIn">Zaloguj sie</a>
                </form>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#Service" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fas fa-wrench fa-lg text-primary" style="margin-right:0.7em"></i>
                            <span class="menu-title">Serwis</span>
                            
                        </a>
                        <div class="collapse" id="Service">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Service" asp-action="Create">Nowy Serwis</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Service" asp-action="Index">Serwisy</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#Member" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                            <span class="menu-title">Member</span>
                            
                        </a>
                        <div class="collapse" id="Member">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Member" asp-action="Create">Nowy członek</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Member" asp-action="Index">Członkowie</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#Payment" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fas fa-shopping-bag fa-lg text-primary" style="margin-right:0.7em"></i>
                            <span class="menu-title">Payment</span>
                           
                        </a>
                        <div class="collapse" id="Payment">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="PaymentRecord" asp-action="Create">Nowa płatność</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="PaymentRecord" asp-action="Index">Płatności</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
            <div class="main-panel">
                <partial name="_CookieConsentPartial" />
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <p> &copy; @DateTime.UtcNow.Year - RCAR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
                </footer>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
