
@{ ViewBag.Title = "Raport";}

<div class="main-container">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Raporty</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body border border-dark bg-secondary">
                                <h5 class="card-title text-white">Raport aktywnych członków</h5>
                                <p class="card-text text-white-50">Wygeneruj raport wszystkich aktywnych członków</p>
                                <a href="/Member/DownloadAttachment" class="btn btn-primary">Pobierz PDF</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body border border-dark bg-secondary">
                                <h5 class="card-title text-white">Raport zakończonych serwisów</h5>
                                <p class="card-text text-white-50">Wygeneruj raport wszystkich zakończonych serwisów.</p>
                                <a href="/Service/DownloadAttachment" class="btn btn-primary">Pobierz PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



