@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div id="welcomeBG">
        <p id="nameCompany">Aplikacja RCAR Serwis</p>
        <p id="welcomeText">
            Aplikacja służy do zarządzania serwisem motoryzacyjnym.
            Możliwośc tworzenia szybkich zleceń, bądź prowadzenia ewidencji dla stałych klientów, w której mamy możliwość dodawania poszczegółnych czynności,
            płatności, jak i pobierania raportów, faktur i dokumentów excel.
        </p>
        <div id="welcomeButtonBG">
            <a id="welcomeButton" asp-controller="Home" asp-action="News">Zobacz aktualności</a>
        </div>
        
    </div>
</div>
