@model RCAR.Models.MessageVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/account.css" rel="stylesheet" />
</head>
<body>
    <div class="mt-5 mx-auto col-sm-6 message-div py-2">
        <div class="text-center text-white-50 mt-5">
            @Html.HiddenFor(m => m.LinkUrl)
            <h4>@Model.Topic</h4>
            <p>@Model.Message</p>
            <a class="btn btn-dark" href=@Model.LinkUrl>@Model.LinkName</a>

        </div>
    </div>
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/message.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

</body>
</html>
